<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>属性绑定指令</title>
    <style>
        img {
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
<div id="app">
    <!-- v-bind -->
    <img v-bind:src="imgUrl[0]" v-bind:title="msg" alt="">
    <img :src="imgUrl[1]" :title="msg" alt=""> <br><br>
    <!-- v-model -->
    账户：<input type="text" v-model="username"> <br><br>
    密码：<input type="password" v-model="password"> <br><br>
    <button @click="login">登录</button>
    <button @click="reset">重置</button>
</div>

<script src="../../vue.js"></script>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            imgUrl: ["./imgs/l.jpg", "./imgs/r.jpg"],
            msg: "sidiot",
            username: '',
            password: ''
        },
        methods: {
            login () {
                console.log("账号: " + this.username + ", 密码: " + this.password)
                console.log("登录中...")
            },
            reset () {
                this.username = ''
                this.password = ''
                console.log("重置了账号密码！")
            }
        }
    })
</script>
</body>
</html>