<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件渲染指令</title>
    <style>
        .box {
            width: 200px;
            height: 100px;
            line-height: 100px;
            margin: 10px;
            border: 3px solid #000;
            text-align: center;
            border-radius: 5px;
            box-shadow: 2px 2px 2px #ccc;
        }
    </style>
</head>
<body>

<div id="app">
    <!-- v-show -->
    <h3>盒子一号</h3>
    <div v-show=true class="box">我是 sidiot 控制的盒子</div>
    <br><br><br>
    <h3>盒子二号</h3>
    <div v-show=false class="box">我不是 sidiot 控制的盒子</div>
    <br><br><br>
    <!-- v-if -->
    <h3>盒子三号</h3>
    <div v-if=true class="box">我是 sidiot 控制的盒子</div>
    <br><br><br>
    <h3>盒子四号</h3>
    <div v-if=false class="box">我不是 sidiot 控制的盒子</div>
    <!-- v-else-if v-else -->
    <h3>成绩单</h3>
    <p>您的成绩是 {{ score }}，等级：
        <span v-if="score >= 90">优秀</span>
        <span v-else-if="score >= 75">良好</span>
        <span v-else-if="score >= 60">合格</span>
        <span v-else style="color: red">不合格</span>
    </p>
</div>

<script src="../../vue.js"></script>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            score: 52
        }
    })
</script>
</body>
</html>